@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@400;700;900&display=swap');

:root {
  --primary-font-one: 'Roboto', sans-serif;
  --primary-font: 'Questrial', sans-serif;
  --primary-heading-color: #3730a3;
  --primary-font-color: #ffffff;
  --primary-back: #e5e7eb;
  --block-color: #d1d5db;
  --light-blue: #818cf8;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  background-color: var(--primary-back);
}

#heading {
  background-color: var(--primary-heading-color);
  color: var(--primary-font-color);
}

#heading #heading-text {
  font-size: 1.5rem;
  padding: 1rem;
}

#heading #button-section {
  text-align: right;
  padding: 1rem;
}

#heading button {
  background-color: transparent;
  border: none;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  font-size: 1rem;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
  min-height: 53vh;
}

.container label,
.container select,
.container input {
  display: block;
  margin: auto;
}

.container select,
.container input {
  text-align: center;
  font-family: var(--primary-font);
  border: 1px solid var(--primary-heading-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.container button {
  width: 45%;
  padding: 0.5rem;
  background-color: var(--primary-heading-color);
  color: var(--primary-font-color);
  font-size: 1rem;
  border: 1px solid var(--primary-heading-color);
  border-radius: 0.5rem;
}

.container select {
  width: 45%;
}

.container input {
  width: 44%;
}

.required:after {
  content: ' *';
  color: red;
}

table {
  margin: auto;
  margin-bottom: 1rem;
}

table,
th,
tr,
td {
  border-collapse: collapse;
}

th,
tr,
td {
  border: 1px solid var(--primary-heading-color);
}

th {
  color: var(--primary-font-color);
  background-color: var(--primary-heading-color);
  border-color: black;
}

.vaccine-container {
  border: 0.2px solid black;
  border-radius: 0.5rem;
  background-color: var(--block-color);
  margin: 0.1rem 0rem;
}

.age-limit {
  font-size: 0.7rem;
}

.active {
  font-weight: bold;
}

#output {
  color: red;
  margin: 1rem;
}

.fees-type {
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

.div-dose-count {
  background-color: var(--light-blue);
  border-radius: 0.5rem;
}

#footer-section {
  background-color: var(--primary-heading-color);
  color: var(--primary-font-color);
  padding: 1rem;
  text-align: center;
}

#footer-section .social-list {
  list-style: none;
  padding-inline-start: 0px;
}

#footer-section .social-list .list-item {
  display: inline;
}

#footer-section .social-list .social-link {
  text-decoration: none;
  color: var(--primary-font-color);
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#footer-section .social-list .social-link .social-link-logo {
  max-width: 2.5rem;
}
